body {
  background-color: #f3f3f3;
  font-family: Helvetica;
  color: #3A535D;
}


.instructions {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.racer_table td {
  height: 60px;
  width: 60px;
  border-radius: 40px;
}


#player1_strip {
  background-color: white;
  border: 2px solid #C9CE06;
}


#player1_strip td.active {
  background-color: #C9CE06;
}


#player2_strip {
  background-color: white;
  border: 2px solid #D42383;
}


#player2_strip td.active {
  background-color: #D42383;
}


table {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.button-container {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;  
}


button {
    background-color: #607D86;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;
}