body {
  background-color: #f3f3f3;
  font-family: 'Shadows Into Light Two', cursive;
  color: #3A535D;
  font-weight: 800;
}

.container {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 10%;
}


.racer_table td {
  height: 60px;
  width: 60px;
  border-radius: 40px;
}


.player {
  background-color: white;
}


.player td.active {
  background-color: #C9CE06;
}


.player:nth-child(1) td.active {
  background-color: #D3D800;
}
.player:nth-child(2) td.active {
  background-color: #D42383;
}
.player:nth-child(3) td.active {
  background-color: #059CAD;
}
.player:nth-child(4) td.active {
  background-color: #3FE081;
}
.player:nth-child(5) td.active {
  background-color: #FF931F;
}
.player:nth-child(6) td.active {
  background-color: #6F016F;
}


table {
  position: fixed;
  top: 20%;
  left: 18%;
  width: 60%;
}


.button-container {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; 
  padding: 10px;
}


button {
    background-color: #607D86;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
}


.setValues {
  width: 10%;
  position: fixed;
  top: 5%;
  left: 80%;
}